glfw==2.7.0
imgviz==1.7.5
munch==4.0.0
natsort==8.4.0
numpy==1.21.6
open3d==0.17.0
opencv_python==4.8.1.78
Pillow==9.4.0
Pillow==9.5.0
Pillow==11.1.0
plyfile==1.1
PyOpenGL==3.1.7
PyOpenGL==3.1.9
PyYAML==6.0.1
PyYAML==6.0.2
scipy==1.7.3
setuptools==65.6.3
torch==1.12.1
torch==1.13.0
torchvision==0.13.1
torchvision==0.14.0
tqdm==4.67.1
